
.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    padding: 12px;
    background-color: #494949;
    box-sizing: border-box;  
    color: #fff;

    .header-content {
      display: flex;
      align-items: center; 

      .name {
        font-size: 130%;
        flex-grow: 1;
      }

      .progress {
        margin-right: 14px;
        text-align: right;

        .percent {
          font-size: 90%;
        }
      }
    }
  }

  .pdf {
    flex-grow: 1;
    overflow: auto;
  }
}

mat-sidenav {
  width: 400px;
  max-width: 100%;

  .sidenav-container {
    padding: 20px;
  }

  .sidenav-container {

  }
}

:host ::ng-deep {
  .textWidgetAnnotation input,
  .buttonWidgetAnnotation input {
    display: none;
  }

  .mat-drawer-container {
    height: 100%;
  }

  .container:not(.started) {
    .mat-drawer-container::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: #777;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      z-index: 999;
    }
  }
}