<div class="container">
  <div class="header">
    <div class="header-content">
      <div class="name">
        {{name}}
      </div>
      <button
          *ngIf="!started"
          type="button"
          mat-raised-button
          (click)="startClick()">
        Get Started
      </button>
      <ng-container *ngIf="started">
        <div class="progress">
          {{complete}} of {{total}}
          <div class="percent">{{(complete/total) * 100  | number:'1.0-0'}}% Complete</div>
        </div>
        <button
            *ngIf="complete < total"
            type="button"
            mat-raised-button
            (click)="nextClick()">
          Next
        </button>
        <button
            *ngIf="complete === total"
            type="button"
            mat-raised-button
            (click)="finishClick()">
          Finish
        </button>
      </ng-container>
    </div>
  </div>
  <div class="pdf" [ngClass]="{ started: started }">
    <mat-sidenav-container>
      <mat-sidenav
          [disableClose]="false"
          [mode]="'side'"
          [opened]="true"
          [position]="'end'"
          [fixedInViewport]="false">
        <div class="sidenav-container">
          <ng-container *ngIf="(field$ | async) as field">
            <div class="heading">{{field.label}}</div>
            <div 
                class="description"
                *ngIf="field.description">
              {{field.description}}
            </div>
            <ng-container [ngSwitch]="field.type">
              <ng-container *ngSwitchCase="'currency'">
                <mat-form-field floatLabel="never">
                  <input
                    matInput
                    [(ngModel)]="currency"
                    fsMask
                    format="currency"
                    name="field"
                    placeholder="Currency">
                  <div matPrefix>$&nbsp;</div>
                </mat-form-field>
              </ng-container>

              <ng-container *ngSwitchCase="'input'">
                <mat-form-field floatLabel="never">
                  <input
                    matInput
                    [placeholder]="field.label"
                    [(ngModel)]="field.value"
                    name="field">
                </mat-form-field>
              </ng-container>

              <ng-container *ngSwitchCase="'birthdate'">
                <mat-form-field floatLabel="never">
                  <input
                    matInput
                    fsDatePickerBirthday
                    [placeholder]="field.label"
                    [(ngModel)]="field.value"
                    name="field">
                </mat-form-field>
              </ng-container>

              <ng-container *ngSwitchCase="'date'">
                <mat-form-field floatLabel="never">
                  <input
                    matInput
                    fsDatePicker
                    [placeholder]="field.label"
                    [(ngModel)]="field.value"
                    name="field">
                </mat-form-field>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <fs-pdf-viewer 
        [pdf]="pdf"
        (pageRendered)="pageRendered($event)">
      </fs-pdf-viewer>
      </mat-sidenav-content>
    </mat-sidenav-container>    
    
    
  </div>
</div>
