<div class="container" [ngClass]="{ started: started }">
  <div class="header">
    <div class="header-content">
      <div class="name">
        {{name}}
      </div>
      <button
          *ngIf="!started"
          type="button"
          color="primary"
          mat-raised-button
          (click)="startClick()">
        Get Started
      </button>
      <ng-container *ngIf="started">
        <div class="progress">
          {{complete}} of {{total}}
          <!-- <mat-progress-bar
            [value]="(complete/total) * 100">
          </mat-progress-bar> -->
          <div class="percent">{{(complete/total) * 100}}% Complete</div> 
        </div>
        <button
            *ngIf="complete < total"
            type="button"
            mat-raised-button>
          Next
        </button>
      </ng-container>
    </div>
  </div>
  <div class="pdf" [ngClass]="{ started: started }">
    <mat-sidenav-container>
      <mat-sidenav
          [disableClose]="false"
          [mode]="sidenav.mode"
          [opened]="sidenav.opened"
          [position]="'end'"
          [fixedInViewport]="false">
        <div class="sidenav-container">
          <ng-container *ngIf="field">
            <app-field-input 
              [field]="field"
              (closed)="sidenav.opened = false">
            </app-field-input>
          </ng-container>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <fs-pdf-viewer 
          [pdf]="pdf"
          (pageRendered)="pageRendered($event)">
        </fs-pdf-viewer>
      </mat-sidenav-content>
    </mat-sidenav-container>    
    
    
  </div>
</div>
