<div class="container" [ngClass]="{ started: hasStarted }">
  <app-header
    [name]="name"
    [actions]="actions"
    (closed)="closed.emit()"
    (finished)="finished.emit()"
    (started)="started.emit()">
  </app-header>
  <div class="pdf">
    <div 
        class="button-menu" 
        *ngIf="hasStarted">
      <button 
          color="primary"
          (click)="zoomIn()"
          mat-mini-fab>
        <mat-icon>zoom_in</mat-icon>
      </button>
      
      <button 
          color="primary"
          (click)="zoomOut()"
          mat-mini-fab>
        <mat-icon>zoom_out</mat-icon>
      </button>
    </div>    
    <mat-sidenav-container>
      <mat-sidenav
          [disableClose]="false"
          [mode]="sidenav.mode"
          [opened]="sidenav.opened"
          [position]="'end'"
          [fixedInViewport]="false">
        <div class="sidenav-container">
          <ng-container *ngIf="field">
            <app-field-input 
              [field]="field"
              (closed)="sidenav.opened = false">
            </app-field-input>
          </ng-container>
        </div>
      </mat-sidenav>
      <mat-sidenav-content #sidenavContainer>
        <fs-pdf-viewer 
          [pdf]="pdf"
          [zoom]="zoom"
          (pageRendered)="pageRendered($event)">
        </fs-pdf-viewer>
      </mat-sidenav-content>
    </mat-sidenav-container>    
    
    
  </div>
</div>
