<div class="container">
  <div class="action-container">
    
  </div>
  <div class="action">
    <a 
        mat-mini-fab
        (click)="zoomIn()">
      <mat-icon>zoom_in</mat-icon>
    </a>
    <a 
        mat-mini-fab
        (click)="zoomOut()">
      <mat-icon>zoom_out</mat-icon>
    </a>
  </div>
  <ng-container *ngIf="src">
    <ngx-extended-pdf-viewer
        [ngClass]=" { 'zoom-page-width': zoom === 'page-width' }"
        class="mat-elevation-z2"
        [src]="src"
        [pageViewMode]="pageViewMode"
        [zoom]="zoom"
        [height]="height"
        [showToolbar]="false"  
        [backgroundColor]="backgroundColor"
        [sidebarVisible]="false"
        (currentZoomFactor)="currentZoomFactor($event)"
        (pageRendered)="pageRendered.emit($event)"
        (pdfLoaded)="pdfLoaded()">
    </ngx-extended-pdf-viewer>
  </ng-container>
  <ng-container *ngIf="!src">
    <mat-progress-spinner
      [mode]="'indeterminate'">
    </mat-progress-spinner>
  </ng-container>
</div>