:host ::ng-deep {
  ngx-extended-pdf-viewer {
    --pdfViewer-padding-bottom: 0;
  }

  ngx-extended-pdf-viewer {
    pdf-toolbar {
      display: none;
    }

    #viewerContainer {
      top: 0px !important;
    }

    .pdfViewer {
      overflow: auto;
      padding-top: 16px;
      
      &:not(.removePageBorders) .page {
        border: none !important;
        margin: 12px auto !important;

        &:first-child {
          margin-top: 0 !important;
        }

        &:last-child {
          margin-bottom: 0 !important;
        }
      }
    }
  } 
}

.container {
  position: relative;

  .action {
    position: fixed;
    z-index: 1;
    margin: 12px;
    display: flex;
    flex-direction: column;

    a + a {
      margin-top: 5px;
    }
  }
}

mat-progress-spinner {
  margin: 100px auto 0;
}
