<div class="container">
  <div class="action-container">
    
  </div>
  <div class="action">
    <a 
        mat-mini-fab
        (click)="zoomIn()">
      <mat-icon>zoom_in</mat-icon>
    </a>
    <a 
        mat-mini-fab
        (click)="zoomOut()">
      <mat-icon>zoom_out</mat-icon>
    </a>
  </div>


 <ng-container *ngIf="src">
    <pdf-viewer
      [ngClass]="{ rendered: rendered }" 
      [autoresize]="true"
      (page-rendered)="loaded()"
      [src]="src"
      [zoom]="zoomFactor"
      [render-text]="true"
      [original-size]="false">
    </pdf-viewer>
  </ng-container>
  <ng-container *ngIf="!src">
    <mat-progress-spinner
      [mode]="'indeterminate'">
    </mat-progress-spinner>
  </ng-container> 
</div> 

