.container {
  position: relative;

  .action {
    position: fixed;
    z-index: 1;
    margin: 12px;
    display: flex;
    flex-direction: column;

    a + a {
      margin-top: 5px;
    }
  }
}

mat-progress-spinner {
  margin: 100px auto 0;
}

:host {
  display: block;
  padding: 20px;
  box-sizing: border-box;
  background: #ccc;
}

::ng-deep {
  pdf-viewer.rendered .ng2-pdf-viewer-container  {
    position: relative !important;
  }
  
  .ng2-pdf-viewer-container {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    height: unset !important;
    background-color: #ccc;

    .pdfViewer .page:last-child {
      margin-bottom: 0 !important;
    }
  }
}