.heading {
  font-size: 125%;
  font-weight: bold;

  .required {
    font-weight: normal;
    font-size: 70%;
    color: #E91C14;
    margin-left: 3px;
  }
}

.description,
fs-radio-group, 
fs-checkbox-group,
fs-field-render {
  margin-top: 15px;
  display: block;
}

mat-form-field {
  width: 100%;
}

.buttons {
  display: flex;

  button + button {
    margin-left: 5px;
  }

  button.close {
    display: flex;
    margin-left: auto !important;
  }
}

fs-signature {
  margin: 15px 0;
  display: block;
}