.heading {
  font-size: 125%;
  font-weight: bold;
}

.description {
  margin-top: 15px;
}

mat-form-field {
  width: 100%;
}

.buttons {
  button + button {
    margin-left: 5px;
  }
}

fs-signature {
  margin: 15px 0;
  display: block;
}