<form fsForm [submit]="submit" [dirtySubmitButton]="false">
  <div class="heading">
    {{field.label}}
    <span 
        *ngIf="field.required"
        class="required">
      Required
    </span>
  </div>
  <div 
      class="description"
      *ngIf="field.description"
      [innerHTML]="field.description">
  </div>
  
  <ng-container *ngIf="!field.readonly; else readonly">
    <ng-container [ngSwitch]="field.type">
      <ng-container *ngSwitchCase="FieldType.Currency">
        <mat-form-field floatLabel="never">
          <input
            #input
            matInput
            [(ngModel)]="field.value"
            (ngModelChange)="change()"
            fsMask
            format="currency"
            name="fieldCurrency">
          <div matPrefix>$&nbsp;</div>
        </mat-form-field>
      </ng-container>
  
      <ng-container *ngSwitchCase="FieldType.Input">
        <mat-form-field floatLabel="never">
          <input
            #input
            matInput
            [fsFormMinLength]="field.minLength"
            [fsFormMaxLength]="field.maxLength"
            [fsFormNumeric]="field.numeric"
            [(ngModel)]="field.value"
            (ngModelChange)="change()"
            [attr.maxLength]="field.maxLength"
            name="fieldInput">
        </mat-form-field>
      </ng-container>
  
      <ng-container *ngSwitchCase="FieldType.Birthdate">
        <mat-form-field floatLabel="never">
          <input
            #input
            matInput
            fsDatePickerBirthday
            [(ngModel)]="field.value"
            (ngModelChange)="change()"
            name="fieldBirthdate">
        </mat-form-field>
      </ng-container>
  
      <ng-container *ngSwitchCase="FieldType.Date">
        <mat-form-field floatLabel="never">
          <input
            #input
            matInput
            fsDatePicker
            [(ngModel)]="field.value"
            (ngModelChange)="change()"
            name="fieldDate">
        </mat-form-field>
      </ng-container>
  
      <ng-container *ngSwitchCase="FieldType.RadioButton">
        <fs-radio-group
            [(ngModel)]="field.value"
            name="fieldRadioButton"
            orientation="vertical"
            (ngModelChange)="change()">
          <mat-radio-button
              *ngFor="let item of field.optionValues" 
              [value]="item.value">
            {{ item.label }}
          </mat-radio-button>
        </fs-radio-group>
      </ng-container>
  
      <ng-container *ngSwitchCase="FieldType.Checkbox">
        <fs-checkbox-group
            [(ngModel)]="field.value"
            name="fieldCheckbox"
            (ngModelChange)="change()"
            orientation="vertical"
            orientation="vertical">
          <mat-checkbox
              *ngFor="let item of field.optionValues" 
              [value]="item.value">
            {{ item.label }}
          </mat-checkbox>
        </fs-checkbox-group>
      </ng-container>
      <ng-container *ngSwitchCase="FieldType.Signature">  
        <fs-signature
          name="fieldSignature"
          [heightRatio]=".4"
          [(ngModel)]="field.value"
          (ngModelChange)="change()">
        </fs-signature>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #readonly>
    <app-field-render
      [field]="field">
    </app-field-render>
  </ng-template>

  <div class="buttons">
    <button
        [disabled]="!backField"
        mat-button
        (click)="back()"
        type="button">
      Back
    </button>
    <button
        mat-button
        color="primary"
        type="submit">
      Continue
    </button>
    <button
        class="close"
        mat-button
        (click)="close()"
        type="button">
      Close
    </button>
  </div>
</form>
