<form fsForm [submit]="submit" [dirtySubmitButton]="false">
  <div class="heading">
    {{label}}
    <span 
        *ngIf="field.required"
        class="required">
      Required
    </span>
  </div>
  <div 
      class="description"
      *ngIf="description"
      [innerHTML]="description">
  </div>

  <ng-container *ngIf="!field.readonly; else readonly">
    <ng-container [ngSwitch]="field.type">      
      <ng-container *ngSwitchCase="FieldType.LongText">
        <mat-form-field floatLabel="never">
          <textarea
            #input
            matInput
            [required]="field.required"
            [(ngModel)]="field.value"
            (ngModelChange)="change()"
            (blur)="blur()"
            (keydown)="inputKeyDown($event)"
            name="fieldInput">
          </textarea>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="FieldType.ShortText">
        <ng-container [ngSwitch]="field.format">
          <ng-container *ngSwitchCase="FieldFormat.Currency">
            <mat-form-field floatLabel="never">
              <input
                #input
                matInput
                [required]="field.required"
                [(ngModel)]="field.value"
                (ngModelChange)="change()"
                (blur)="blur()"
                (keydown)="inputKeyDown($event)"
                [fsMask]="true"
                format="currency"
                name="shortText">
              <div matPrefix>$ </div>
            </mat-form-field> 
          </ng-container>
          <ng-container *ngSwitchCase="FieldFormat.Number">
            <mat-form-field floatLabel="never">
              <input
                #input
                matInput
                [required]="field.required"
                [attr.maxLength]="field.maxLength"
                [(ngModel)]="field.value"
                (ngModelChange)="change()"              
                (blur)="blur()"
                (keydown)="inputKeyDown($event)"
                fsMaskNumber
                [scale]="10"
                [signed]="true"
                name="shortText">
            </mat-form-field>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <mat-form-field floatLabel="never">
              <input
                #input
                matInput
                [required]="field.required"
                [attr.maxLength]="field.maxLength"
                [(ngModel)]="field.value"
                (ngModelChange)="change()"                
                (blur)="blur()"
                (keydown)="inputKeyDown($event)"
                name="shortText">
            </mat-form-field>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="FieldType.Date">
        <mat-form-field floatLabel="never">
          <input
            #input
            matInput
            [required]="field.required"
            fsDatePicker
            [(ngModel)]="field.value"
            (ngModelChange)="change()"
            (blur)="blur()"
            (keydown)="inputKeyDown($event)"
            name="fieldDate">
        </mat-form-field>
      </ng-container>
  
      <ng-container *ngSwitchCase="FieldType.RadioButton">
        <fs-radio-group
            [(ngModel)]="radioButtonField"
            name="fieldRadioButton"
            [required]="field.required"
            orientation="vertical"
            (ngModelChange)="radioButtonFieldChange($event)">
            <mat-radio-button
                *ngIf="!field.required"
                [value]="null">
              Unspecified
            </mat-radio-button>
           <mat-radio-button
              *ngFor="let radioButtonField of radioButtonFields" 
              [value]="radioButtonField">
            {{radioButtonField.label}}
          </mat-radio-button>
        </fs-radio-group>
      </ng-container>
  
      <ng-container *ngSwitchCase="FieldType.Checkbox">
          <mat-checkbox
              name="fieldRadioButton"
              [(ngModel)]="field.value"
              (ngModelChange)="change()">
            {{ field.label }}
          </mat-checkbox> 
      </ng-container>
      <ng-container *ngSwitchCase="FieldType.Signature">  
        <fs-label-field class="fs-form-wrapper">
          <fs-signature
            name="fieldSignature"
            [required]="field.required"
            [heightRatio]=".5"
            [(ngModel)]="field.value"
            (ngModelChange)="change()">
          </fs-signature>
          <fs-label-message class="fs-form-message"></fs-label-message>
        </fs-label-field>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #readonly>
    <fs-field-render
      [field]="field">
    </fs-field-render>
  </ng-template>

  <div class="buttons">
    <button
        [disabled]="!backField"
        mat-button
        (click)="back()"
        type="button">
      Back
    </button>
    <button
        mat-button
        color="primary"
        type="submit">
      Continue
    </button>
    <button
        class="close"
        mat-button
        (click)="close()"
        type="button">
      Close
    </button>
  </div>
</form>
