.header {
  padding: 12px;
  background-color: #494949;
  box-sizing: border-box;  
  color: #fff;

  .header-content {
    display: flex;
    align-items: center; 

    .name {
      font-size: 130%;
      flex-grow: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .progress {
      margin-right: 5px;
      text-align: right;
      white-space: nowrap;

      .percent {
        font-size: 90%;
      }
    }
  }

  button {
    margin-left: 5px;
    flex-shrink: 0;
  }
}

@media (max-width: 599px) {
  .header {
    .header-content {
      .name {
        font-size: 100%;
      }

      ::ng-deep .start .mat-button-wrapper {
        text-indent: -1000em;
        display: inline-flex;

        &::before {
          content: 'Start';
          display: inline-flex;
          text-indent: 0;
        }
      }
    }
  }
}
