.header {
  padding: 12px;
  background-color: #494949;
  box-sizing: border-box;  
  color: #fff;

  .header-content {
    display: flex;
    align-items: center; 

    .heading {
      font-size: 130%;
      flex-grow: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .progress {
      margin-right: 5px;
      white-space: nowrap;

      .percent {
        font-size: 90%;
      }
    }

    .actions {
      white-space: nowrap;
      display: flex;
      align-items: center;

      .progress {
        text-align: right;
      }
    }

    fs-menu {
      margin-right: -9px;
    }
  }

  button {
    margin-left: 5px;
    flex-shrink: 0;
  }
}

@media (max-width: 599px) {
  .header {
    .header-content {
      .heading {
        font-size: 110%;

        .progress {
          font-size: 85%;
        }

        .percent {
          display: none;
        }
      }

      .close {
        display: none;
      }
    }

    .actions .progress {
      display: none;
    }
  }
}



@media (min-width: 600px) {
  .header {
    .header-content {
      .heading {
        .progress {
          display: none;
        }
      }
    }
  }
}
