<div 
    class="field" 
    [tabindex]="field.index" 
    [class]="'field-' + field.type"
    (click)="fieldClick()"
    [ngClass]="{ 
      selected: selected,
      currency: field.type === FieldType.Currency || field.format === FieldFormat.Currency,
      'has-value': field.hasValue,
      required: field.required
    }">
  <ng-container [ngSwitch]="field.type">
    <ng-container *ngSwitchCase="FieldType.Birthdate">
      <ng-container *ngTemplateOutlet="date"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="FieldType.Date">
      <ng-container *ngTemplateOutlet="date"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="FieldType.RadioButton">
      <img src="assets/check.svg" *ngIf="field.value === optionValue.value">
    </ng-container>

    <ng-container *ngSwitchCase="FieldType.Checkbox">
      <img src="assets/check.svg" *ngIf="field.value.indexOf(optionValue.value) !== -1">
    </ng-container>

    <ng-container *ngSwitchCase="FieldType.Signature">  
      <img [src]="signatureSvg" *ngIf="field.value">
    </ng-container>

    <ng-container *ngSwitchDefault>
      <ng-container *ngIf="field.type === FieldType.Currency || field.format === FieldFormat.Currency; else default">
        {{field.value | fsFormatCurrency }}
      </ng-container>
    </ng-container>
  </ng-container>  
</div>

<ng-template #date>
  {{field.value | fsDateFormat: field.format || 'full-date' }}
</ng-template>

<ng-template #default>
  {{field.value}}
</ng-template>