<div class="field" [tabindex]="field.index" [ngClass]="{ selected: selected }">
  <ng-container [ngSwitch]="field.type">
    <ng-container *ngSwitchCase="FieldType.Currency">
      {{field.value | fsFormatCurrency }}
    </ng-container>

    <ng-container *ngSwitchCase="FieldType.Birthdate">
      {{field.value | fsDateFormat: 'full-date' }}
    </ng-container>

    <ng-container *ngSwitchCase="FieldType.Date">
      {{field.value | fsDateFormat: 'full-date' }}
    </ng-container>

    <ng-container *ngSwitchDefault>
      {{field.value}}
    </ng-container>
  </ng-container>  
</div>
